<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAckPJEPxh_b5xzGK6mW9_A-A5IDTHhzKo</string>
	<key>GCM_SENDER_ID</key>
	<string>49277361868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ezragunn.flutther</string>
	<key>PROJECT_ID</key>
	<string>flutther-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutther-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49277361868:ios:e7e0e9635be5fbed99ec69</string>
</dict>
</plist>